<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MobileAppWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.gxchuwei.com:8022/MobileAppWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="MobileAppWebServiceSoap"
                contract="AppWebServiceSoap.MobileAppWebServiceSoap" name="MobileAppWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>