<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="DosConn" connectionString="server=gxchuwei.com;database=ChuWeiZuoWeuDB;uid=sa;pwd=!QAZxsw2;" />
  </connectionStrings>
  <appSettings>
    <add key="AppID" value="wx5c27898c83a612dc"/>
    <add key="AppSecret" value="51fed2e73dddd6e6eabbb528c973074d"/>
    <add key="Token" value="weixin123"/>
    
    <!--消息配置-->
    <!--图书馆超期催还通知-->
    <add key="OverdueNoticeID" value="1DuTRE2Njxlwb11v4DamEDWrJib8Voq3_lfRNdHMOF4"/>
    <add key="OverdueNotice_URL" value="https://library.xmu.edu.cn/"/>
    <!--还书通知-->
    <add key="GiveBackBookNoticeID" value="2CafePD4YVtkr4x_Vr-Qm0ZxUKMdIbCICCxDvh1wh_c"/>
    <add key="GiveBackBookNotice_URL" value="https://library.xmu.edu.cn/"/>
    <!--委托图书到馆通知-->
    <add key="BooksToLibraryNoticeID" value="2dNKIqIYY8wipEDngIXFiEEgOV0DTkoyeolacSmzlSM"/>
    <add key="BooksToLibraryNotice_URL" value="https://library.xmu.edu.cn/"/>
    <!--成功还书通知-->
    <add key="GiveBackBookSucceedNoticeID" value="CLWpTKfSgfvPOXtzeisYzeaztCtQYWmSjKzltGHAmT8"/>
    <add key="GiveBackBookSucceedNotice_URL" value="https://library.xmu.edu.cn/"/>
    <!--活动即将开始提醒-->
    <add key="ActivityToBeginningNoticeID" value="S8q8koUwU4s7KjZtAXPucEFDKlhUOVXbTkfY5lQ6r3w"/>
    <add key="ActivityToBeginningNotice_URL" value="https://library.xmu.edu.cn/"/>
    <!--图书馆借书成功通知-->
    <add key="BorrowBooksSucceedID" value="fMu1gTLehm0BIcLkfKQR63159CJ-O6N7Y7JGIR6tDfM"/>
    <add key="BorrowBooksSucceed_URL" value="https://library.xmu.edu.cn/"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpHandlers>
      <!--path中指定的是执行type中HttpHandler的访问路径。此路径可以带后缀也可以不带后缀。如果path配置为*，则会对所有的请求执行此HttpHandler-->
      <add verb="*" path="LoginForm.aspx" type="WeChatMsg.MsgHandler,WeChatMsg"/>
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>