<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="DosConn" connectionString="server=gxchuwei.com;database=ChuWeiZuoWeuDB;uid=sa;pwd=!QAZxsw2;" />
  </connectionStrings>
  <appSettings>
    <add key="AppID" value="wx5c27898c83a612dc"/>
    <add key="AppSecret" value="51fed2e73dddd6e6eabbb528c973074d"/>
    <add key="Token" value="weixin123"/>

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpHandlers>
      <!--path中指定的是执行type中HttpHandler的访问路径。此路径可以带后缀也可以不带后缀。如果path配置为*，则会对所有的请求执行此HttpHandler-->
      <add verb="*" path="LoginForm.aspx" type="WeChatMsg.MsgHandler,WeChatMsg"/>
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>