@{
    ViewBag.Title = "CancelBind";
}
<!DOCTYPE html>
<html lang="lang">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>解除绑定</title>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="~/dist/css/weui.min.css">
    <link rel="stylesheet" href="~/dist/css/swiper.min.css">
    <style type="text/css">
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }
    </style>
</head>
<body ontouchstart="">
    <!-- 轮播图图片 -->
    <div class="swiper-container" style="height: 100px;">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                您真的要解绑吗？解绑后就不能再使用微信的功能了哦！
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
    <a href="javascript:;" class="weui-btn weui-btn_warn" style="width: 250px;" id="btn_scan">解除绑定</a>

    <script src="~/Content/frozen/js/lib/zeptojs/zepto.min.js"></script>
    <script src="~/Content/frozen/js/frozen.js"></script>
    <script>
        $("#btn_scan").click(function () {
            if (confirm("确定要解除绑定吗？")) {
                $("#btn_scan").text("解绑中...");
                $("#btn_scan").attr({ "disabled": "disabled" });
                $.post("@Url.Action("CancelBindAction", "NewUser")",
                        {},
                        function (data, textStatus) {
                            if (textStatus == "success") {
                                if (data.status == "yes") {
                                    alert(data.message);
                                    window.location.href = "@Url.Action("Index", "NewUser")";
                                }
                                else {
                                    alert("解绑失败:" + data.message);
                                }
                            }
                            else {
                                alert("操作失败！");
                            }
                 }, "json").error(function (XMLHttpRequest, textStatus, errorThrown) { alert(XMLHttpRequest + textStatus + errorThrown); });
            }
        });
    </script>
</body>
</html>
