<!DOCTYPE html>
<html lang="lang">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>学习记录</title>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="~/dist/css/weui.min.css" />
    <link rel="stylesheet" href="~/dist/css/swiper.min.css">
    <style type="text/css">
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="swiper-container" style="height: 200px;">
        <div class="swiper-wrapper">
            <div class="swiper-slide">此功能正在建设中，请各位同学再给我们点时间！！！</div>
        </div>
    </div>
    <div class="weui-cells" style="margin-top:-10px;">
        <a class="weui-cell weui-cell_access" href="" style="height: 70px;">
            <div class="weui-cell__bd" style="text-align: center;">
                <p>0h</p>
                <p class="weui-media-box__desc">本周学习</p>
            </div>
            <div class="weui-cell__bd" style="text-align: center;">
                <p>0h</p>
                <p class="weui-media-box__desc">本月学习</p>
            </div>
            <div class="weui-cell__bd" style="text-align: center;">
                <p>0h</p>
                <p class="weui-media-box__desc">今年学习</p>
            </div>
        </a>
        <a class="weui-cell weui-cell_access" href="" style="height: 60px;">
            <div class="weui-cell__bd" style="text-align: center;">
                <p>0次</p>
                <p class="weui-media-box__desc">本周预约</p>
            </div>
            <div class="weui-cell__bd" style="text-align: center;">
                <p>0次</p>
                <p class="weui-media-box__desc">本月预约</p>
            </div>
            <div class="weui-cell__bd" style="text-align: center;">
                <p>0次</p>
                <p class="weui-media-box__desc">今年预约</p>
            </div>
        </a>
        <a class="weui-cell weui-cell_access" href="" style="height: 60px;">
            <div class="weui-cell__bd" style="text-align: center;">
                <p>0h</p>
                <p class="weui-media-box__desc">单日最长</p>
            </div>
            <div class="weui-cell__bd" style="text-align: center;">
                <p>0h</p>
                <p class="weui-media-box__desc">单周最长</p>
            </div>
            <div class="weui-cell__bd" style="text-align: center;">
                <p>0h</p>
                <p class="weui-media-box__desc">年度最长</p>
            </div>
        </a>
    </div>
</body>
</html>