<!DOCTYPE html>
<html lang="lang">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>欢迎使用云座位</title>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="~/dist/css/weui.min.css" />
    <style>
        p {
            text-indent: 2em;
        }
    </style>
</head>
<body>
    <!-- 自述页面 -->
    <div class="weui-panel">
        <div class="weui-panel__hd">云座位相关功能的使用</div>
        <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_text">
                <h4 class="weui-media-box__title">1．账号绑定</h4>
                <p class="weui-media-box__desc" style="-webkit-line-clamp: 4;">
                    用户在关注“云座位”公众号后，想要使用本公众号提供的功能服务，需要点击“账号绑定”，在账号绑
                    定页面根据账号绑定步骤对预约账号与公众号进行绑定，成功绑定后可以使用公众号内提供的功能服务。
                </p>
            </div>
        </div>
        <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_text">
                <h4 class="weui-media-box__title">2．当前座位</h4>
                <p class="weui-media-box__desc" style="-webkit-line-clamp: 3;">
                    用户可以在“当前座位”页面查看当前座位状态，如果是在座状态可以对座位状态进行操作，
                    同时用户也能在此页面上看到有效的座位预约记录。
                </p>
            </div>
        </div>
        <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_text">
                <h4 class="weui-media-box__title">3．座位码</h4>
                <p class="weui-media-box__desc" style="-webkit-line-clamp: 3;">
                    用户打开“座位码”页面，可以看到个人的二维码，在进出图书馆时可以根据这个二维码进行扫码签到入座，
                    扫码操作座位状态等，同时此页面还能够看到个人的在座状态。
                </p>
            </div>
        </div>
        <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_text">
                <h4 class="weui-media-box__title">4．预约座位</h4>
                <p class="weui-media-box__desc">
                    用户可以在“预约座位”页面选择日期查询可以预约的阅览室，进行座位预约。
                </p>
            </div>
        </div>
        <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_text">
                <h4 class="weui-media-box__title">5．进出记录</h4>
                <p class="weui-media-box__desc">
                    用户可以在“进出记录”页面查看自己座位状态的变更记录。
                </p>
            </div>
        </div>
        <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_text">
                <h4 class="weui-media-box__title">6．预约记录</h4>
                <p class="weui-media-box__desc">
                    用户可以在“预约记录”页面查询到个人所有的有效预约记录。
                </p>
            </div>
        </div>
        <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_text">
                <h4 class="weui-media-box__title">7．违规/黑名单</h4>
                <p class="weui-media-box__desc">
                    用户可以在“违规/黑名单”页面查看自己的违规记录和黑名单记录。
                </p>
            </div>
        </div>
        <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_text">
                <h4 class="weui-media-box__title">8．排行榜</h4>
                <p class="weui-media-box__desc">
                    用户可以在“排行榜”页面查看校内用户的学习时长排行榜，排行榜又分为总榜、月榜和周榜。
                </p>
            </div>
        </div>
        <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_text">
                <h4 class="weui-media-box__title">9．图书馆</h4>
                <p class="weui-media-box__desc">
                    用户可以在“图书馆”页面查看校内各个图书馆的阅览室实时的座位数据。
                </p>
            </div>
        </div>
        <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_text">
                <h4 class="weui-media-box__title">10．使用手册</h4>
                <p class="weui-media-box__desc">
                    用户可以在“使用手册”页面查看“云座位”的相关使用规则。
                </p>
            </div>
        </div>
        <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_text">
                <h4 class="weui-media-box__title">11．学习记录</h4>
                <p class="weui-media-box__desc">
                    用户可以在“我的”页面点击学习数据栏，进入到学习记录页面，在此页面用户可以查看
                    详细的个人学习记录的数据。
                </p>
            </div>
        </div>
        <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_text">
                <h4 class="weui-media-box__title">12．我的预约</h4>
                <p class="weui-media-box__desc" style="-webkit-line-clamp: 3;">
                    用户可以在“我的”页面点击“我的预约”，进入到“我的预约”页面，用户可以在此页面查看
                    目前有效的座位预约数据，同时用户还可以在此页面进行“取消预约”的操作。
                </p>
            </div>
        </div>
        <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_text">
                <h4 class="weui-media-box__title">13．解除绑定</h4>
                <p class="weui-media-box__desc" style="-webkit-line-clamp: 4;">
                    用户可以在“我的”页面点击“解除绑定”，进入到“解除绑定”页面，用户可以在此页面进行
                    “解除绑定”操作，解除绑定后用户将不能再使用公众号的功能服务，如需使用需要再次绑定账号。
                </p>
            </div>
        </div>
    </div>
</body>
</html>