@{
    Layout = null;
}


@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>记录查询</title>
    <link rel="stylesheet" href="/Content/assets/css/amazeui.min.css">
    <link rel="stylesheet" href="/Content/assets/css/app.css">
</head>
<body>

    <div data-am-sticky>
        <div class="wdwz-location">
            <div class="wdwz-back"> </div>
            <div class="wdwz-tit">违规记录</div>
            <div class="wdwz-home" style="margin-top: 10px;"> <a href="/User/Index" class="am-icon-home am-icon-sm">  </a> </div>
        </div>
    </div>
    <div data-am-widget="navbar" class="am-navbar">
        <ul class="am-navbar-nav am-cf am-avg-sm-4">
            <li> <a href="/User/GetBesapsekLog" class=""> <span class=""><img src="/Content/images/jlcx_img_03.jpg" alt=" " /></span> <span class="am-navbar-label">预约记录</span> </a> </li>
            <li> <a href="/User/EnterOutLog" class=""> <span class=""><img src="/Content/images/jlcx_img_05.jpg" alt="" /></span> <span class="am-navbar-label">进出记录</span> </a> </li>
            <li> <a href="/User/GetViolationLog" class=""> <span class=""><img src="/Content/images/jlcx_img_07.jpg" alt="" /></span> <span class="am-navbar-label">违规记录</span> </a> </li>
            <li class="grzx-border-n"> <a href="/User/GetBlacklist" class=""> <span class=""><img src="/Content/images/jlcx_img_09.jpg" alt="" /></span> <span class="am-navbar-label">黑名单</span> </a> </li>
        </ul>
    </div>

    <div class="grzx-h-2"></div>

    @foreach (var item in ViewBag.List)
    {
        <dl class="am-accordion-item am-active jlcx-add-query ">
            <dt class="am-accordion-title"> @item.EnterOutTime </dt>
            <dd class="">
                <p>阅览室：@item.RoomName</p>
                <p>座位号：@item.SeatNo</p>
                <p>备注：@item.Remark</p>
            </dd>
        </dl>
        <div class="grzx-h-2"></div>
    }
    <div class="grzx-h-3"></div>
    <div class="grzx-h-3"></div>


    <!--[if (gte IE 9)|!(IE)]><!-->
    <script src="/Content/assets/js/jquery.min.js"></script>
    <!--<![endif]-->
    <!--[if lte IE 8 ]>
    <script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
    <script src="/Content/assets/js/amazeui.ie8polyfill.min.js"></script>
    <![endif]-->
    <script src="/Content/assets/js/amazeui.min.js"></script>
</body>
</html>


