<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=ChuWeiZuoWeuDB;Persist Security Info=True;User ID=sa;Password=!QAZxsw2"/>
  </connectionStrings>
  <appSettings>
    <add key="WeCharPushUrl" value="http://gxchuwei.com:83/MsgHandler.ashx"/>

    <add key="AppID" value="wx18d6d2659df69ecd"/>
    <add key="AppSecret" value="df22788b6a75a6b096a208ac3abd6350"/>
    <add key="SoapUser" value="hjwl"/>
    <add key="SoapPwd" value="hjwl"/>
    <add key="Token" value="weixin123"/>
    <add key="SysURL" value="http://wechat.gxchuwei.com"/>
    <add key="WebServiceURL" value="http://www.gxchuwei.com:8022/MobileAppWebService.asmx"/>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MobileAppWebServiceSoap">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" maxDepth="64"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.gxchuwei.com:8022/MobileAppWebService.asmx" binding="basicHttpBinding" bindingConfiguration="MobileAppWebServiceSoap" contract="AppWebServiceSoap.MobileAppWebServiceSoap" name="MobileAppWebServiceSoap"/>
    </client>
  </system.serviceModel>
</configuration>
