<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="AppID" value="wx18d6d2659df69ecd"/>
    <add key="AppSecret" value="df22788b6a75a6b096a208ac3abd6350"/>
    <add key="SoapUser" value="hjwl"/>
    <add key="SoapPwd" value="hjwl"/>
    <add key="Token" value="weixin123"/>
    <add key="SysURL" value="http://wechat.gxchuwei.com"/>
    <add key="WebServiceURL" value="http://www.gxchuwei.com:8022/MobileAppWebService.asmx"/>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>